footer {
  background-color: $base-bg;
  color: $white;
  font-size: 14px;
}

.footer-top {
  border-bottom: 1px solid rgba($white, 0.1);
  padding: 30px 0;

  &__logo {
    display: block;
    margin-bottom: 28px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__column-center {
    max-width: 470px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
  }

  &__input {
    width: 180px;
    border-radius: 6px 0 0 6px;
    padding: 8px 12px 9px 12px;

    &::placeholder {
      font-size: 14px;
      color: #4F4F4F;
    }
  }

  &__btn {
    border: none;
    @extend %openSans-700;
    font-size: 12px;
    text-transform: uppercase;
    background: $base-accent;
    border-radius: 0px 6px 6px 0px;
    padding: 12px 10px 12px 14px;
  }

  &__address {
    font-style: normal;
  }

  &__link {
    @extend %hover-opacity;
  }
}

.social {
  display: flex;

  &__item {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    height: 32px;
    width: 32px;
    @extend %bg-icon;
    @extend %hover-opacity;
  }
}

.footer-bottom {
  padding: 20px 0 28px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.payment {
  &__img {
    display: inline-block;
    height: 29px;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}