%openSans-Light {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
}

%openSans-Regular {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%openSans-SemiBold {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%openSans-Bold {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%ruda-Regular {
  font-family: 'Ruda-Regular', sans-serif;
  font-weight: 400;
}

%ruda-SemiBold {
  font-family: 'Ruda-SemiBold', sans-serif;
  font-weight: 600;
}

%ruda-SemiBold {
  font-family: 'Ruda-SemiBold', sans-serif;
  font-weight: 700;
}

%ruda-Black {
  font-family: 'Ruda-Black', sans-serif;
  font-weight: 900;
}