<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зелень Онлайн-маркет | Каталог товаров</title>
    <link rel="shortcut icon" href="images/favicon/favicon.png" type="image/png" sizes="500x500">
    <link rel="shortcut icon" href="images/favicon/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    {% include 'app/module/_header.html' %}
    <main class="main">
      <div class="breadcrumbs">
        <div class="container">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="index.html">
                Главная
              </a>
            </li>
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__link">
                Каталог товаров
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <h1 class="catalog__title">
          Каталог товаров
        </h1>
      </div>
      <div class="container">
        <div class="catalog__wrap">
          <div class="filters__overlay">
            <section class="filters" data-simplebar data-simplebar-auto-hide="false">
              <button class="filters__close" type="button">
                <span class="sr-only">Закрыть окно фильтров</span>
              </button>
              <div class="filters-category filters__item">
                <h2 class="filters__title">Категории</h2>
                <div class="filters__item-content" data-simplebar data-simplebar-auto-hide="false">
                  <ul class="filters-category__list">
                    <li class="filters-category__item">
                      <a class="filters-category__link" href="#!">Фрукты и овощи</a>
                    </li>
                    <li class="filters-category__item">
                      <a class="filters-category__link" href="#!">Зелень</a>
                    </li>
                    <li class="filters-category__item">
                      <a class="filters-category__link" href="#!">Ягоды, грибы</a>
                    </li>
                    <li class="filters-category__item">
                      <a class="filters-category__link" href="#!">Крупы</a>
                    </li>
                    <li class="filters-category__item">
                      <a class="filters-category__link" href="#!">Веганские продукты</a>
                    </li>
                    <li class="filters-category__item">
                      <a class="filters-category__link" href="#!">Хлеб</a>
                    </li>
                    <li class="filters-category__item">
                      <a class="filters-category__link" href="#!">Сыры</a>
                    </li>
                    <li class="filters-category__item">
                      <a class="filters-category__link" href="#!">Рыба</a>
                    </li>
                    <li class="filters-category__item">
                      <a class="filters-category__link" href="#!">Вода, напитки</a>
                    </li>
                    <li class="filters-category__item">
                      <a class="filters-category__link" href="#!">Чай, кофе</a>
                    </li>
                    <li class="filters-category__item">
                      <a class="filters-category__link" href="#!">Молочные продукты</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="filters-offers filters__item">
                <h2 class="filters__title">Предложения</h2>
                <div class="filters__item-content">
                  <form class="filters-offers__form" name="filters-offers__form">
                    <label class="filters-offers__label">
                      <input class="filters-offers__input" name="filters-offers__input" type="checkbox">
                      <span class="filters-checkbox filters-offers__checkbox"></span>
                      <span class="filters-offers__text">Со скидкой</span>
                    </label>
                    <label class="filters-offers__label">
                      <input class="filters-offers__input" name="filters-offers__input" type="checkbox" checked>
                      <span class="filters-checkbox filters-offers__checkbox"></span>
                      <span class="filters-offers__text">Новинка</span>
                    </label>
                    <label class="filters-offers__label">
                      <input class="filters-offers__input" name="filters-offers__input" type="checkbox">
                      <span class="filters-checkbox filters-offers__checkbox"></span>
                      <span class="filters-offers__text">Хит</span>
                    </label>
                  </form>
                </div>
              </div>
              <div class="filters-brand filters__item">
                <h2 class="filters__title">Бренд</h2>
                <div class="filters__item-content">
                  <form class="filters-brand__form" name="filters-brand__form">
                    <label class="filters-brand__label">
                      <input class="filters-brand__input" name="filters-brand__input" type="checkbox">
                      <span class="filters-checkbox filters-brand__checkbox"></span>
                      <span class="filters-brand__text">4 сезона</span>
                    </label>
                    <label class="filters-brand__label">
                      <input class="filters-brand__input" name="filters-brand__input" type="checkbox">
                      <span class="filters-checkbox filters-brand__checkbox"></span>
                      <span class="filters-brand__text">Ego</span>
                    </label>
                    <label class="filters-brand__label">
                      <input class="filters-brand__input" name="filters-brand__input" type="checkbox">
                      <span class="filters-checkbox filters-brand__checkbox"></span>
                      <span class="filters-brand__text">Good Food</span>
                    </label>
                    <label class="filters-brand__label">
                      <input class="filters-brand__input" name="filters-brand__input" type="checkbox">
                      <span class="filters-checkbox filters-brand__checkbox"></span>
                      <span class="filters-brand__text">Вкусы мира</span>
                    </label>
                    <label class="filters-brand__label">
                      <input class="filters-brand__input" name="filters-brand__input" type="checkbox">
                      <span class="filters-checkbox filters-brand__checkbox"></span>
                      <span class="filters-brand__text">Дары Природы</span>
                    </label>
                    <label class="filters-brand__label">
                      <input class="filters-brand__input" name="filters-brand__input" type="checkbox">
                      <span class="filters-checkbox filters-brand__checkbox"></span>
                      <span class="filters-brand__text">Лето</span>
                    </label>
                  </form>
                </div>
              </div>
              <div class="filters-price filters__item">
                <h2 class="filters__title">Цена</h2>
                <div class="filters__item-content">
                  <form class="filters-price__form" name="filters-price__form">
                    <div class="filters-price__wrapp">
                      <label class="filters-price__label-num">
                        от <input class="filters-price__input-num filter-price__from" name="filters-price__input-num" type="number" value="0">
                        &#8381;
                      </label>
                      <label class="filters-price__label-num">
                        до <input class="filters-price__input-num filter-price__to" name="filters-price__input-num" type="number" value="0">
                        &#8381;
                      </label>
                    </div>
                    <label class="filters-price__label-slider">
                      <input class="filters-price__input-slider" name="filters-price__input" type="text" value="">
                    </label>
                  </form>
                </div>
              </div>
            </section>
          </div>
          <section class="catalog-content">
            <div class="catalog-content__filters">
              <button class="catalog-content__filters-button"></button>
              <div class="catalog-content__filters-selects">
                <form class="catalog-content__filters-form" name="catalog-content__filters-form" action="#!">
                  <label>
                    <span class="sr-only">Селектор отображения товаров</span>
                    <select class="catalog-content__filters-sort select-style" name="catalog-content__filters-sort">
                      <option value="По названию">По названию</option>
                      <option value="По популярности">По популярности</option>
                      <option value="Сначала дешевые">Сначала дешевые</option>
                      <option value="Сначала дорогие">Сначала дорогие</option>
                      <option value="По алфавиту">По алфавиту</option>
                    </select>
                  </label>
                  <label>
                    <span class="sr-only">Селектор отображения количества карточек товара на странице</span>
                    <select class="catalog-content__filters-show select-style" name="catalog-content__filters-show">
                      <option value="по 12">по 12</option>
                      <option value="по 18">по 18</option>
                      <option value="по 24">по 24</option>
                      <option value="по 30">по 30</option>
                      <option value="по 36">по 36</option>
                    </select>
                  </label>
                </form>
              </div>
              <div class="catalog-content__filters-buttons">
                <button class="catalog-content__filters-btn button-list">
                  <span class="sr-only">Отобразить карточки списком по две в ряду</span>
                  <svg class="catalog-content__svg-list">
                    <use xlink:href="images/sprite.svg#button-list"></use>
                  </svg>
                </button>
                <button class="catalog-content__filters-btn catalog-content__filters-btn--active button-grid">
                  <svg class="catalog-content__svg-grid">
                    <use xlink:href="images/sprite.svg#button-grid"></use>
                  </svg>
                  <span class="sr-only">Отобразить карточки списком по три в ряду</span>
                </button>
              </div>
            </div>
            <div class="catalog-content__cards">
              <ul class="catalog-content__list">
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="badge" style="background-color: #cf3e3b;">-23%</span>
                        <span class="badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img class="card-top__img" src="images/cards/mango.jpg" height="215" alt="Манго спелое Puro Gusto 1шт">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="available__status" style="color: #63a60f;">В наличии</span>
                          <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">5</span>
                      </div>
                      <h3 class="card-top__title">
                        Манго спелое Puro Gusto 1шт
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="card-top__ex-price">299
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">229
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                        <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img class="card-top__img" src="images/cards/banana.jpg" height="215" alt="Бананы жёлтые, 1кг">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="available__status" style="color: #63a60f;">В наличии</span>
                          <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">4.6</span>
                      </div>
                      <h3 class="card-top__title">
                        Бананы жёлтые, 1кг
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="hide card-top__ex-price">
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">77
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                        <span class="badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img class="card-top__img" src="images/cards/salad.jpg" height="215" alt="Салат в горшочке 1шт">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="hide available__status" style="color: #63a60f;">В наличии</span>
                          <span class="available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">4.5</span>
                      </div>
                      <h3 class="card-top__title">
                        Салат в горшочке 1шт
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="hide card-top__ex-price">
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">69
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                        <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img
                          class="card-top__img"
                          src="images/cards/cheese-camembert.jpg"
                          height="215"
                          alt="Сыр мягкий Камамбер Лефкадии с белой плесенью 50% 150г">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="available__status" style="color: #63a60f;">В наличии</span>
                          <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">4.6</span>
                      </div>
                      <h3 class="card-top__title">
                        Сыр мягкий Камамбер Лефкадии с белой плесенью 50% 150г
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="hide card-top__ex-price">453
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">359
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                        <span class="badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img class="card-top__img" src="images/cards/microgreen.jpg" height="215" alt="Микрозелень горчица зелёная 1шт">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="hide available__status" style="color: #63a60f;">В наличии</span>
                          <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">5</span>
                      </div>
                      <h3 class="card-top__title">
                        Микрозелень горчица зелёная 1шт
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="hide card-top__ex-price">
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">128
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                        <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img
                          class="card-top__img"
                          src="images/cards/chicory.jpg"
                          height="215"
                          alt="Цикорий Московская кофейня на паяхъ Насыщенный сублимированный 95г">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="available__status" style="color: #63a60f;">В наличии</span>
                          <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">4.9</span>
                      </div>
                      <h3 class="card-top__title">
                        Цикорий Московская кофейня на паяхъ Насыщенный сублимированный 95г
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="hide card-top__ex-price">
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">300
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="badge" style="background-color: #cf3e3b;">-30%</span>
                        <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img class="card-top__img" src="images/cards/avocado.jpg" height="215" alt="Авокадо 1шт">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="available__status" style="color: #63a60f;">В наличии</span>
                          <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">4.4</span>
                      </div>
                      <h3 class="card-top__title">
                        Авокадо 1шт
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="card-top__ex-price">130
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">99
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                        <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img class="card-top__img" src="images/cards/tomato.jpg" height="215" alt="Томаты Фламенко сливовидные 450г">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="available__status" style="color: #63a60f;">В наличии</span>
                          <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">4.7</span>
                      </div>
                      <h3 class="card-top__title">
                        Томаты Фламенко сливовидные 450г
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="hide card-top__ex-price">
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">149
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                        <span class="badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img class="card-top__img" src="images/cards/wheat-germ.jpg" height="215" alt="Проростки пшеницы 150г">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="hide available__status" style="color: #63a60f;">В наличии</span>
                          <span class="available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">4.5</span>
                      </div>
                      <h3 class="card-top__title">
                        Проростки пшеницы 150г
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="hide card-top__ex-price">
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">129
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="badge" style="background-color: #cf3e3b;">-27%</span>
                        <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img
                          class="card-top__img"
                          src="images/cards/nemoloko-ovs.jpg"
                          height="215"
                          alt="Напиток Nemoloko овсяный классический 3.2% 1л">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="available__status" style="color: #63a60f;">В наличии</span>
                          <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">4.5</span>
                      </div>
                      <h3 class="card-top__title">
                        Напиток Nemoloko овсяный классический 3.2% 1л
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="card-top__ex-price">122
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">89
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                        <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img class="card-top__img" src="images/cards/gkhi.jpg" height="215" alt="Масло сливочное топлёное Гхи 99% 400г">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="available__status" style="color: #63a60f;">В наличии</span>
                          <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">4.5</span>
                      </div>
                      <h3 class="card-top__title">
                        Масло сливочное топлёное Гхи 99% 400г
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="hide card-top__ex-price">
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">782
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
                <li class="catalog-content__item">
                  <article class="card-top">
                    <div class="card-top__top">
                      <div class="badges">
                        <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                        <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                        <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                      </div>
                      <button class="card-top__heart" type="button">
                        <svg class="card-top__heart-img">
                          <use xlink:href="images/sprite.svg#heart-card"></use>
                        </svg>
                        <span class="sr-only">поместить товар в избранное</span>
                      </button>
                    </div>
                    <div class="card-top__content">
                      <a class="card-top__wrap-img" href="product.html">
                        <img class="card-top__img" src="images/cards//bread.jpg" height="215" alt="Хлеб цельнозерновой 400г">
                      </a>
                      <div class="catalog-content__inner">
                        <div class="available">
                          <span class="available__status" style="color: #63a60f;">В наличии</span>
                          <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                          <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                        </div>
                        <span class="card-promo__star">4.7</span>
                      </div>
                      <h3 class="card-top__title">
                        Хлеб цельнозерновой 400г
                      </h3>
                    </div>
                    <div class="card-top__bottom">
                      <div class="card-top__price">
                        <span class="hide card-top__ex-price">
                          <span>&#8381;</span>
                        </span>
                        <span class="card-top__today-price">99
                          <span>&#8381;</span>
                        </span>
                      </div>
                      <form class="basket__form" name="basket__form" action="#!">
                        <label class="basket__label">
                          <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                        </label>
                      </form>
                      <button class="card-top__basket btn" type="button">
                        <span class="sr-only">поместить товар в корзину</span>
                      </button>
                    </div>
                  </article>
                </li>
              </ul>
            </div>
            <div class="catalog-content__bottom">
              <button class="btn" type="button">Показать ещё</button>
              <div class="pagination">
                <ul class="pagination__list">
                  <li class="pagination__item">
                    <a class="pagination__arrow pagination__arrow--prev" href="#!">
                      <svg>
                        <use xlink:href="images/sprite.svg#arrow-left"></use>
                      </svg>
                      <span class="sr-only">стрелка влево</span>
                    </a>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__link pagination__link--active" href="#!">1</a>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__link" href="#!">2</a>
                  </li>
                  <li class="pagination__item">
                    <span class="pagination__link" href="#!">...</span>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__link" href="#!">9</a>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__link" href="#!">10</a>
                  </li>
                  <li class="pagination__item">
                    <a class="pagination__arrow pagination__arrow--next" href="#!">
                      <svg>
                        <use xlink:href="images/sprite.svg#arrow-right"></use>
                      </svg>
                      <span class="sr-only">стрелка вправо</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="benefits">
        <div class="container">
          <ul class="benefits__inner">
            <li class="benefits__item benefits__item--delivery">
              <span class="benefits__title">Бесплатная доставка</span>
              <span class="benefits__text">
                Для заказов на сумму от 500&nbsp;<span>&#8381;</span>
              </span>
            </li>
            <li class="benefits__item benefits__item--return">
              <span class="benefits__title">Возврат товара</span>
              <span class="benefits__text">
                Если товары были испорчены
              </span>
            </li>
            <li class="benefits__item benefits__item--hours24">
              <span class="benefits__title">Поддержка 24/7</span>
              <span class="benefits__text">
                Лучшие операторы
              </span>
            </li>
          </ul>
        </div>
      </div>
    </main>
    {% include 'app/module/_footer.html' %}
    <script src="js/main.min.js"></script>
  </body>
</html>