<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зелень Онлайн-маркет | Страница товара</title>
    <link rel="shortcut icon" href="images/favicon/favicon.png" type="image/png" sizes="500x500">
    <link rel="shortcut icon" href="images/favicon/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    {% include 'app/module/_header.html' %}
    <main class="main">
      <div class="breadcrumbs">
        <div class="container">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="index.html">
                Главная
              </a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="catalog.html">
                Каталог товаров
              </a>
            </li>
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__link">
                Манго спелое Puro Gusto
              </span>
            </li>
          </ul>
        </div>
      </div>
      <section class="product">
        <div class="container">
          <div class="product__wrap">
            <ul class="product__slider">
              <li class="product__slider-item">
                <div class="product__slider-wrap" data-path="first">
                  <img class="product__slider-img" src="images/cards/mango.jpg" alt="Манго спелое Puro Gusto">
                </div>
              </li>
              <li class="product__slider-item">
                <div class="product__slider-wrap" data-path="first">
                  <img class="product__slider-img" src="images/cards/mango-2.jpg" alt="Манго спелое Puro Gusto">
                </div>
              </li>
              <li class="product__slider-item">
                <div class="product__slider-wrap" data-path="first">
                  <img class="product__slider-img" src="images/cards/mango-3.jpg" alt="Манго спелое Puro Gusto">
                </div>
              </li>
            </ul>
            <h1 class="product__title">
              Манго спелое Puro Gusto 1шт
            </h1>
            <div class="product__desc">
              <div class="badges">
                <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                <span class="badge" style="background-color: #ff7a00;">Хит</span>
              </div>
              <div class="product__info">
                <div class="product__info-inner">
                  <span class="product__code">Код: 6122057</span>
                  <span class="stars" data-rateyo-rating="4"></span>
                </div>
                <div class="available">
                  <span class="available__status" style="color: #63a60f;">В наличии</span>
                  <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                  <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                </div>
              </div>
              <div class="card-top__price">
                <span class="card-top__ex-price">299
                  <span>&#8381;</span>
                </span>
                <span class="card-top__today-price">229
                  <span>&#8381;</span>
                </span>
              </div>
              <div class="product__add">
                <form class="basket__form" name="basket__form" action="#!">
                  <label class="basket__label">
                    <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                  </label>
                </form>
                <button class="btn product__btn" type="button">
                  Добавить в корзину
                </button>
                <button class="btn product__btn-cart" type="button"></button>
                <button class="card-top__heart" type="button">
                  <svg class="card-top__heart-img">
                    <use xlink:href="images/sprite.svg#heart-card"></use>
                  </svg>
                  <span class="sr-only">поместить товар в избранное</span>
                </button>
              </div>
              <div class="delivery">
                <h2 class="delivery__title">
                  Доставка и оплата
                </h2>
                <ul class="delivery__text">
                  <li class="delivery__item">Минимальная сумма заказа - 100 руб.</li>
                  <li class="delivery__item">Время доставки заказа - 60-120 мин.</li>
                  <li class="delivery__item">Оплата осуществляется только банковской картой.</li>
                  <li class="delivery__item">Окончательная сумма заказа формируется после сбора товаров.</li>
                </ul>
                <a class="delivery__link" href="#!">
                  Подробнее
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs">
          <div class="container">
            <div class="tabs__wrap">
              <ul class="tabs__top">
                <li class="tabs__top-item tabs__top-item--active">
                  <a class="tabs__top-link" href="#tab-1">
                    Описание
                  </a>
                </li>
                <li class="tabs__top-item">
                  <a class="tabs__top-link" href="#tab-2">
                    Характеристики
                  </a>
                </li>
                <li class="tabs__top-item">
                  <a class="tabs__top-link" href="#tab-3">
                    Отзывы
                    <span class="tabs-reviews__num">(2)</span>
                  </a>
                </li>
              </ul>
              <ul class="tabs__content">
                <li class="tabs__content-item tabs__content-item--desc tabs__content-item--active" id="tab-1">
                  <div>
                    <p>
                      Спелое манго Puro Gusto - южный фрукт, родиной которого является Индия. Его плоды имеют продолговатую форму, сверху они
                      покрыты плотной зеленой оболочкой, внутри - желтая сочная мякоть.
                    </p>
                    <p>
                      У манго очень сладкий вкус и нежный аромат. Его употребляют в сыром и охлажденном виде. Пюре добавляют в десерты,
                      мороженое, кремы для тортов. Запеченная рыба или мясо, украшенные ломтиками фрукта, превращаются в изысканное блюдо.
                    </p>
                    <p>
                      Манго содержит аскорбиновую кислоту, витамины группы В, каротин.
                    </p>
                    <p>
                      Внешний вид товара может отличаться от изображений, представленных на сайте.
                    </p>
                  </div>
                </li>
                <li class="tabs__content-item tabs__content-item--characteristic" id="tab-2">
                  <div>
                    <div>
                      <p>Вес:</p>
                      <span>300-400 г;</span>
                    </div>
                    <div>
                      <p>Калорийность (на 100г):</p>
                      <span>60 ккал;</span>
                    </div>
                    <div>
                      <p>Условия хранения:</p>
                      <span>температура от +3 до +8;</span>
                    </div>
                    <div>
                      <p>Год урожая:</p>
                      <span>2021;</span>
                    </div>
                    <div>
                      <p>Страна происхождения:</p>
                      <span>Бразилия;</span>
                    </div>
                    <div>
                      <p>Срок хранения:</p>
                      <span>21 день.</span>
                    </div>
                  </div>
                </li>
                <li class="tabs__content-item tabs__content-item--reviews" id="tab-3">
                  <div>
                    <h3 class="tabs-reviews__title">
                      Мнения наших клиентов
                    </h3>
                    <ul class="tabs-reviews__list">
                      <li class="tabs-reviews__item">
                        <div class="tabs-reviews__top">
                          <div class="tabs-reviews__imgwrap">
                            <img class="tabs-reviews__img" src="images/reviews/avatar.jpg" alt="аватар пользователя">
                          </div>
                          <div class="tabs-reviews__info">
                            <p class="tabs-reviews__name">Мария</p>
                            <time class="tabs-reviews__date">9.12.2021</time>
                          </div>
                          <span class="tabs-reviews__stars stars" data-rateyo-rating="4"></span>
                        </div>
                        <p class="tabs-reviews__text">
                          Нам привезли действительно спелое, сладкое, и оно, на удивление, оказалось намного вкуснее желтого!
                        </p>
                      </li>
                      <li class="tabs-reviews__item">
                        <div class="tabs-reviews__top">
                          <div class="tabs-reviews__imgwrap">
                            <img class="tabs-reviews__img" src="images/reviews/avatar.jpg" alt="аватар пользователя">
                          </div>
                          <div class="tabs-reviews__info">
                            <p class="tabs-reviews__name">Анна Анатольевна</p>
                            <time class="tabs-reviews__date">25.09.2021</time>
                          </div>
                          <span class="tabs-reviews__stars stars" data-rateyo-rating="5"></span>
                        </div>
                        <p class="tabs-reviews__text">
                          Пощупала: мягкое, срезала кожу и слопала за минуту. Очень вкусное, спелое, сочное, сладкое. В общем, восхитительный
                          фрукт!
                        </p>
                      </li>
                    </ul>
                    <form class="tabs-reviews__form" name="tabs-reviews__form" action="!#">
                      <h3 class="tabs-reviews__title">
                        Оставить отзыв
                      </h3>
                      <div class="tabs-reviews__rating">
                        <label class="tabs-reviews__label">Ваша оценка * <input class="check__input" name="check__input" type="checkbox" required>
                          <span class="stars__form" data-rateyo-full-star="true"></span>
                        </label>
                      </div>
                      <div class="tabs-reviews__form-wrap">
                        <label class="tabs-reviews__label">
                          Ваш отзыв *
                          <textarea class="tabs-reviews__textarea" name="tabs-reviews__form-textarea" placeholder="Введите текст отзыва" required></textarea>
                        </label>
                        <div class="tabs-reviews__form-inner">
                          <label class="tabs-reviews__label">
                            Имя <input class="tabs-reviews__input" name="tabs-reviews__input" type="text" placeholder="Введите ваше имя">
                          </label>
                          <label class="tabs-reviews__label">
                            Email * <input class="tabs-reviews__input" name="tabs-reviews__input" type="email" required placeholder="youremail@mail.com">
                          </label>
                        </div>
                      </div>
                      <label class="check__label">
                        <input class="check__input" name="check__input" type="checkbox">
                        <span class="filters-checkbox check__checkbox"></span>
                        <span class="check__text">Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.</span>
                      </label>
                      <button class="tabs-reviews__btn btn" type="submit">Оставить отзыв</button>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal" data-target="first">
          <div class="modal__container">
            <button class="modal__close" type="button"></button>
            <div class="modal__content">
              <ul class="modal__slider">
                <li class="modal__slider-item">
                  <div class="modal__slider-wrap">
                    <img class="modal__slider-img" src="images/cards/mango.jpg" alt="Манго спелое Puro Gusto">
                  </div>
                </li>
                <li class="modal__slider-item">
                  <div class="modal__slider-wrap">
                    <img class="modal__slider-img" src="images/cards/mango-2.jpg" alt="Манго спелое Puro Gusto">
                  </div>
                </li>
                <li class="modal__slider-item">
                  <div class="modal__slider-wrap">
                    <img class="modal__slider-img" src="images/cards/mango-3.jpg" alt="Манго спелое Puro Gusto">
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="related">
        <div class="container">
          <h2 class="related__title">
            Вас может заинтересовать
          </h2>
          <ul class="related__slider">
            <li class="related__item">
              <article class="card-top">
                <div class="card-top__top">
                  <div class="badges">
                    <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                    <span class="badge" style="background-color: #cf3e3b;">-30%</span>
                    <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                  </div>
                  <button class="card-top__heart" type="button">
                    <svg class="card-top__heart-img">
                      <use xlink:href="images/sprite.svg#heart-card"></use>
                    </svg>
                    <span class="sr-only">поместить товар в избранное</span>
                  </button>
                </div>
                <div class="card-top__content">
                  <a class="card-top__wrap-img" href="#!">
                    <img class="card-top__img" src="images/cards/parsley.jpg" height="215" alt="Петрушка 100г">
                  </a>
                  <div class="catalog-content__inner">
                    <div class="available">
                      <span class="available__status" style="color: #63a60f;">В наличии</span>
                      <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                      <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                    </div>
                    <span class="card-promo__star">4.5</span>
                  </div>
                  <h3 class="card-top__title">
                    Петрушка 100г
                  </h3>
                </div>
                <div class="card-top__bottom">
                  <div class="card-top__price">
                    <span class="card-top__ex-price">99
                      <span>&#8381;</span>
                    </span>
                    <span class="card-top__today-price">69
                      <span>&#8381;</span>
                    </span>
                  </div>
                  <form class="basket__form" name="basket__form" action="#!">
                    <label class="basket__label">
                      <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                    </label>
                  </form>
                  <button class="card-top__basket btn" type="button">
                    <span class="sr-only">поместить товар в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="related__item">
              <article class="card-top">
                <div class="card-top__top">
                  <div class="badges">
                    <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                    <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                    <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                  </div>
                  <button class="card-top__heart" type="button">
                    <svg class="card-top__heart-img">
                      <use xlink:href="images/sprite.svg#heart-card"></use>
                    </svg>
                    <span class="sr-only">поместить товар в избранное</span>
                  </button>
                </div>
                <div class="card-top__content">
                  <a class="card-top__wrap-img" href="#!">
                    <img class="card-top__img" src="images/cards/muesli.jpg" height="215" alt="Мюсли Ого! запечённые с орехом 350г">
                  </a>
                  <div class="catalog-content__inner">
                    <div class="available">
                      <span class="available__status" style="color: #63a60f;">В наличии</span>
                      <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                      <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                    </div>
                    <span class="card-promo__star">4.8</span>
                  </div>
                  <h3 class="card-top__title">
                    Мюсли Ого! запечённые с орехом 350г
                  </h3>
                </div>
                <div class="card-top__bottom">
                  <div class="card-top__price">
                    <span class="hide card-top__ex-price">
                      <span>&#8381;</span>
                    </span>
                    <span class="card-top__today-price">110
                      <span>&#8381;</span>
                    </span>
                  </div>
                  <form class="basket__form" name="basket__form" action="#!">
                    <label class="basket__label">
                      <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                    </label>
                  </form>
                  <button class="card-top__basket btn" type="button">
                    <span class="sr-only">поместить товар в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="related__item">
              <article class="card-top">
                <div class="card-top__top">
                  <div class="badges">
                    <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                    <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                    <span class="badge" style="background-color: #ff7a00;">Хит</span>
                  </div>
                  <button class="card-top__heart" type="button">
                    <svg class="card-top__heart-img">
                      <use xlink:href="images/sprite.svg#heart-card"></use>
                    </svg>
                    <span class="sr-only">поместить товар в избранное</span>
                  </button>
                </div>
                <div class="card-top__content">
                  <a class="card-top__wrap-img" href="#!">
                    <img class="card-top__img" src="images/cards/tangerines.jpg" height="215" alt="Мандарины 1.5-1.9 кг">
                  </a>
                  <div class="catalog-content__inner">
                    <div class="available">
                      <span class="hide available__status" style="color: #63a60f;">В наличии</span>
                      <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                      <span class="available__status" style="color: #cf3e3b;">Заканчивается</span>
                    </div>
                    <span class="card-promo__star">4.6</span>
                  </div>
                  <h3 class="card-top__title">
                    Мандарины 1.5-1.9 кг
                  </h3>
                </div>
                <div class="card-top__bottom">
                  <div class="card-top__price">
                    <span class="hide card-top__ex-price">
                      <span>&#8381;</span>
                    </span>
                    <span class="card-top__today-price">141
                      <span>&#8381;</span>
                    </span>
                  </div>
                  <form class="basket__form" name="basket__form" action="#!">
                    <label class="basket__label">
                      <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                    </label>
                  </form>
                  <button class="card-top__basket btn" type="button">
                    <span class="sr-only">поместить товар в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="related__item">
              <article class="card-top">
                <div class="card-top__top">
                  <div class="badges">
                    <span class="badge" style="background-color: #63a60f;">Новинка</span>
                    <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                    <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                  </div>
                  <button class="card-top__heart" type="button">
                    <svg class="card-top__heart-img">
                      <use xlink:href="images/sprite.svg#heart-card"></use>
                    </svg>
                    <span class="sr-only">поместить товар в избранное</span>
                  </button>
                </div>
                <div class="card-top__content">
                  <a class="card-top__wrap-img" href="#!">
                    <img class="card-top__img" src="images/cards/cucumbers.jpg" height="215" alt="Огурцы короткоплодные бугорчатые 450г">
                  </a>
                  <div class="catalog-content__inner">
                    <div class="available">
                      <span class="available__status" style="color: #63a60f;">В наличии</span>
                      <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                      <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                    </div>
                    <span class="card-promo__star">4.7</span>
                  </div>
                  <h3 class="card-top__title">
                    Огурцы короткоплодные бугорчатые 450г
                  </h3>
                </div>
                <div class="card-top__bottom">
                  <div class="card-top__price">
                    <span class="hide card-top__ex-price">
                      <span>&#8381;</span>
                    </span>
                    <span class="card-top__today-price">139
                      <span>&#8381;</span>
                    </span>
                  </div>
                  <form class="basket__form" name="basket__form" action="#!">
                    <label class="basket__label">
                      <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                    </label>
                  </form>
                  <button class="card-top__basket btn" type="button">
                    <span class="sr-only">поместить товар в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="related__item">
              <article class="card-top">
                <div class="card-top__top">
                  <div class="badges">
                    <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                    <span class="badge" style="background-color: #cf3e3b;">-21%</span>
                    <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                  </div>
                  <button class="card-top__heart" type="button">
                    <svg class="card-top__heart-img">
                      <use xlink:href="images/sprite.svg#heart-card"></use>
                    </svg>
                    <span class="sr-only">поместить товар в избранное</span>
                  </button>
                </div>
                <div class="card-top__content">
                  <a class="card-top__wrap-img" href="#!">
                    <img class="card-top__img" src="images/cards/quinoa.jpg" height="215" alt="Киноа Bravolli 350г">
                  </a>
                  <div class="catalog-content__inner">
                    <div class="available">
                      <span class="available__status" style="color: #63a60f;">В наличии</span>
                      <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                      <span class="hide available__status" style="color: #cf3e3b;">Заканчивается</span>
                    </div>
                    <span class="card-promo__star">4.7</span>
                  </div>
                  <h3 class="card-top__title">
                    Киноа Bravolli 350г
                  </h3>
                </div>
                <div class="card-top__bottom">
                  <div class="card-top__price">
                    <span class="card-top__ex-price">316
                      <span>&#8381;</span>
                    </span>
                    <span class="card-top__today-price">249
                      <span>&#8381;</span>
                    </span>
                  </div>
                  <form class="basket__form" name="basket__form" action="#!">
                    <label class="basket__label">
                      <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                    </label>
                  </form>
                  <button class="card-top__basket btn" type="button">
                    <span class="sr-only">поместить товар в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="related__item">
              <article class="card-top">
                <div class="card-top__top">
                  <div class="badges">
                    <span class="hide badge" style="background-color: #63a60f;">Новинка</span>
                    <span class="hide badge" style="background-color: #cf3e3b;">-50%</span>
                    <span class="hide badge" style="background-color: #ff7a00;">Хит</span>
                  </div>
                  <button class="card-top__heart" type="button">
                    <svg class="card-top__heart-img">
                      <use xlink:href="images/sprite.svg#heart-card"></use>
                    </svg>
                    <span class="sr-only">поместить товар в избранное</span>
                  </button>
                </div>
                <div class="card-top__content">
                  <a class="card-top__wrap-img" href="#!">
                    <img
                      class="card-top__img"
                      src="images/cards/water-donat.jpg"
                      height="215"
                      alt="Вода минеральная лечебная Donat Mg природная питьевая газированная 0.5л">
                  </a>
                  <div class="catalog-content__inner">
                    <div class="available">
                      <span class="hide available__status" style="color: #63a60f;">В наличии</span>
                      <span class="hide available__status" style="color: #c1c1c1;">Нет в наличии</span>
                      <span class="available__status" style="color: #cf3e3b;">Заканчивается</span>
                    </div>
                    <span class="card-promo__star">4.9</span>
                  </div>
                  <h3 class="card-top__title">
                    Вода минеральная лечебная Donat Mg природная питьевая газированная 0.5л
                  </h3>
                </div>
                <div class="card-top__bottom">
                  <div class="card-top__price">
                    <span class="hide card-top__ex-price">
                      <span>&#8381;</span>
                    </span>
                    <span class="card-top__today-price">125
                      <span>&#8381;</span>
                    </span>
                  </div>
                  <form class="basket__form" name="basket__form" action="#!">
                    <label class="basket__label">
                      <input class="basket__num" name="basket__num" type="number" value="1" min="1" max="99">
                    </label>
                  </form>
                  <button class="card-top__basket btn" type="button">
                    <span class="sr-only">поместить товар в корзину</span>
                  </button>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </section>
    </main>
    {% include 'app/module/_footer.html' %}
    <script src="js/main.min.js"></script>
  </body>
</html>