.footer {
  background-color: $base-light;
  color: $white;
  font-size: 14px;

  &__top {
    border-bottom: 1px solid rgba($white, 0.1);
    padding: 30px 0;
  }

  &__logo {
    display: block;
    margin-bottom: 29px;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    display: flex;
    margin-right: 72px;
  }

  &__form-subtitle {
    display: block;
    margin-bottom: 15px;
  }

  &__form-input {
    width: 180px;
    border-radius: 6px 0 0 6px;
    padding: 8px 12px 9px 12px;
    @extend %focus;

    &::placeholder {
      font-size: 14px;
      color: $base-lighter;
    }
  }

  &__form-btn {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    padding: 12px 10px 12px 14px;
  }

  &__list {
    column-count: 3;
    column-gap: 57px;
  }

  &__link {
    display: block;
    transition: opacity 0.3s;
    padding: 10px 0;

    &:hover {
      opacity: 0.7;
    }
  }

  &__contacts-address {
    font-style: normal;
    margin-bottom: 20px;
  }

  &__address {
    margin: 10px 0;
  }

  &__bottom {
    padding: 20px 0 28px;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.social {
  display: flex;

  &__item {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    height: 32px;
    width: 32px;
    @extend %bg-img;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.payment {
  &__item {
    display: inline-block;
    height: 29px;
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    object-fit: contain;
  }
}