.header {
  &__top {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: $white;
    background-color: $base-light;
    padding: 3px 0;

    @include max-w($md) {
      display: none;
    }
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-link {
    position: relative;
    display: inline-block;
    transition: opacity 0.3s;
    padding: 12px 0 12px 45px;
    margin-right: 32px;

    &:hover {
      opacity: 0.7;
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 22px;
      width: 32px;
      @extend %bg-img;
    }

    &--address::before {
      background-image: url('../images/sprite.svg#car');
    }

    &--tel::before {
      width: 23px;
      background-image: url('../images/sprite.svg#tel');
      left: 7px;
    }
  }

  &__top-mobile {
    display: none;

    @include max-w($md) {
      display: block;
      font-weight: 700;
      font-size: 13px;
      text-transform: uppercase;
      color: $white;
      background-color: $base-light;
      padding: 3px 0;
    }

    .header__top-link {
      height: 42px;
      padding: 12px 0 12px 35px;
      margin-right: 17px;
      &:last-child {
        margin-right: 0;
      }
    }

    .burger {
      height: 45px;
      width: 45px;
      border: none;
      background-color: transparent;
      padding: 0;

      &__img {
        width: 30px;
        height: 20px;
        @extend %bg-img;
      }
    }
  }

  &__bottom {
    background-color: $main;
    padding: 25px 0;

    @include max-w($md) {
      padding: 19px 0;
    }
    @include max-w($xs) {
      padding: 6px 0;
    }
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: inline-block;
    min-width: 200px;
    margin-right: 20px;

    @include max-w($xs) {
      display: none;
    }
  }

  .logo-mobile {
    display: none;

    @include max-w($xs) {
      display: block;
    }
  }
}