.search-mobile {
  display: none;

  &--active {
    position: absolute;
    top: 150px;
    z-index: 3;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;

    @include max-w($xs) {
      top: 113px;
    }
  }

  .search__input {
    max-width: 100%;
    border: 1px solid #31352B;
    border-radius: 0;
    box-shadow: none;
  }

  .search__btn {
    border-radius: 0;
  }
}