.brands {  
  padding: 70px 0 0;

  @include max-w($xs) {
    padding-top: 50px;
  }

    &__item {
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    object-fit: contain;
    object-position: center center;
  }
}