.goods-promo {
  text-align: center;
  background-color: $bg-light;
  padding: 75px 0;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 30px;
    margin-bottom: 48px;
  }

  .filter__btn {
    letter-spacing: 0.06em;
  }
}