.goods-top {
  text-align: center;
  padding: 75px 0 0;

  @include max-w($xs) {
    padding-top: 47px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-content: center;
    margin-bottom: 50px;

    @include max-w($md) {
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include max-w($ssm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include max-w($xs) {
      grid-template-columns: repeat(2, minmax(130px, 220px));
      grid-gap: 5px;
      margin-bottom: 25px;
    }
  }
}